{% extends 'base.html' %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Institution Dashboard</h1>

<!-- Loan Officers List -->
<div class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-xl font-bold mb-4">Loan Officers <span style="color: grey;">{{ loan_officers|length }}</span></h2>
    <ul>
        {% for officer in loan_officers %}
        <li class="mb-2">
            {{ officer.user.username }}
            <a href="{% url 'deactivate_user' officer.user.id %}" class="text-red-500 ml-4">Deactivate</a>
        </li>
        {% endfor %}
    </ul>
</div><br><br>

<!-- Branch Manager List -->
<div class="bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-xl font-bold mb-4">Branch Manager <span style="color: grey;">{{ branch_manager|length }}</span></h2>
    <ul>
        {% for officer in branch_manager %}
        <li class="mb-2">
            {{ officer.user.username }}
            <a href="{% url 'deactivate_user' officer.user.id %}" class="text-red-500 ml-4">Deactivate</a>
        </li>
        {% endfor %}
    </ul>
</div><br><br>



<!-- Loans Table -->
<div class="flex justify-between bg-white p-6 rounded-lg shadow-lg mb-6">
    <h2 class="text-xl font-bold">Loans <span style="color: grey;">{{ loans|length }}</span></h2>
</div>

<!-- Loans Table -->
<div class="bg-white p-6 rounded-lg shadow-lg mt-6">
    <table class="min-w-full table-auto">
        <thead>
            <tr class="border-b">
                <th class="px-4 py-2 text-left">Account Number</th>
                <th class="px-4 py-2 text-left">Account Name</th>
                <th class="px-4 py-2 text-left">Saving Amount</th>
                <th class="px-4 py-2 text-left">Loan Amount</th>
                <th class="px-4 py-2 text-left">Loan Type</th>
                <th class="px-4 py-2 text-left">Status</th>
                <th class="px-4 py-2 text-left">Credit Score</th>
                <th class="px-4 py-2 text-left">Approval Date</th>
                <th class="px-4 py-2 text-left">Delay Days</th>
                <th class="px-4 py-2 text-left">Loan Officer</th>
                <th class="px-4 py-2 text-left">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
            <tr class="border-b cursor-pointer" data-loan-id="{{ loan.id }}">
                <td class="px-4 py-2">{{ loan.member_account_number }}</td>
                <td class="px-4 py-2">{{ loan.member_full_name }}</td>
                <td class="px-4 py-2">{{ loan.member_saving_account }} CFA</td>
                <td class="px-4 py-2">{{ loan.loan_amount }} CFA</td>
                <td class="px-4 py-2">{{ loan.loan_type }}</td>
                <td class="px-4 py-2">{{ loan.status }}</td>
                <td class="px-4 py-2">{{ loan.credit_score }}</td>
                <td class="px-4 py-2">{{ loan.approval_date }}</td>
                <td class="px-4 py-2">{{ loan.delay_days }}</td>
                <td class="px-4 py-2">{{ loan.loan_officer.user.username }}</td>
                <td class="px-4 py-2">
                    <!-- Download Buttons -->
                    <a href="{% url 'download_pdf' loan.id %}" class="text-blue-600 hover:text-blue-800 mr-4">Download PDF</a>
                    <a href="{% url 'download_excel' loan.id %}" class="text-blue-600 hover:text-blue-800">Download Excel</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
